/* purgecss start ignore */
@import 'tailwindcss/base';

@import './aos.css';
@import 'aos/dist/aos.css';

@import 'tailwindcss/components';

@import './components/forms.css';

.page-enter-active, .page-leave-active {
  transition: all .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform: translateX(2em);
}
/* purgecss end ignore */

@import 'tailwindcss/utilities';
