input, textarea {
  transition: all 0.2s ease-out;
  @apply h-12 px-4 bg-white border border-secondary-lighter rounded;
}

textarea {
  @apply pt-2;
}

input:hover, textarea:hover {
  @apply border-secondary-light;
}

button {
  transition: all 0.2s ease-out;
  @apply h-12 px-4 bg-primary-normal text-white rounded ;
}

input:focus,
button:focus,
textarea:focus {
  @apply shadow-outline outline-none;
}

button:disabled {
  @apply opacity-50;
}
