[data-aos="bounce-up"] {
  transform: translateY(2em);
  opacity: 0;
  transition-timing-function: cubic-bezier(.33,1.59,.5,.99);
  transition-property: transform, opacity;
}

[data-aos="bounce-up"].aos-animate {
  transition-timing-function: cubic-bezier(.33,1.59,.5,.99);
  transform: translate(0);
  opacity: 1;
}
